[transport-tls]
type=transport
protocol=tls
bind=0.0.0.0:8000
external_media_address=YOUR_PUBLIC_IP
external_signaling_address=YOUR_PUBLIC_IP
local_net=10.0.0.0/24
cert_file=/etc/asterisk/keys/sip-fullchain.pem
priv_key_file=/etc/asterisk/keys/sip-privkey.pem
method=tlsv1_2
verify_client=no
verify_server=no

[android]
type=endpoint
context=internal
disallow=all
allow=g722
allow=ulaw
allow=alaw
auth=android-auth
aors=android
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[android-auth]
type=auth
auth_type=userpass
username=android
password=CHANGE_ME

[android]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=30

[iphone]
type=endpoint
context=internal
disallow=all
allow=g722
allow=ulaw
allow=alaw
auth=iphone-auth
aors=iphone
direct_media=no
rtp_symmetric=yes
force_rport=yes
rewrite_contact=yes

[iphone-auth]
type=auth
auth_type=userpass
username=iphone
password=CHANGE_ME

[iphone]
type=aor
max_contacts=1
remove_existing=yes
qualify_frequency=30
